<!DOCTYPE html>
<html>
    <head>
        <title>RAGnnosis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    </head>
    <body>
        
        <header>
            About Us <a href="/auth/login"> <b>LOGIN</b></a> <a href="/auth/register"><b>REGISTER</b></a>
        </header>
        
       
        <main>
            
            <div class="video-container">
                <video autoplay loop muted playsinline>
                    <source src="{{ url_for('static', filename='bgvid.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="content">
                    <h1>RAGnosis ~</h1>
            <h2>"AI driven Medical Report analysis"</h2>
                </div>
            </div>
    


        </main>
        <section class="features">
            <div class="feature">
                
                <h3>AI-powered</h3>
                <p>Get rapid, AI-powered analysis of your medical reports.</p>
            </div>
            <div class="feature">
               
                <h3>Key Insights</h3>
                <p>Highlighting crucial information and potential areas of concern.</p>
            </div>
            <div class="feature">
                
                <h3>Secure & Private</h3>
                <p>Your data is handled with the utmost security and confidentiality.</p>
            </div>
            <div class="feature">
                
                <h3>RAGbtot</h3>
                <p>Solve your queries with Chatbot</p>
            </div>
        </section>
        <hr>
        <footer>
            
            Made with <b>vision</b>
            by: Diya Suryawanshi |
                Dnyanesh Kathe |
                Abhishek Nimbalkar
            <hr>
        </footer>
       
    </body>
    
</html>